* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.smooth-scroll {
    overflow: hidden;
}

.main {
    background-color: #0f0d0d;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #0f0d0d;
}

#nav {
    background-color: #0f0d0d;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px;
}

img {
    height: 26px;
}

#nav-part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#nav h4 {
    font-size: 16px;
    text-transform: uppercase;
}

#nav #circle {
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

#nav h4:nth-child(1) {
    border-bottom: 2px solid wheat;
}

.page1 h1 {
    font-size: 10vh;
    font-family: PP mori;
    font-weight: 300;
    margin-top: 12vw;
    margin-left: 6vw;
}

.page1 h2 {
    font-size: 10vh;
    font-family: PP mori;
    font-weight: 300;
    margin-left: 26vw;
}

.page1 video {
    height: 60%;
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2 {
    min-height: 100vh;
    width: 100%;
    padding: 100px 5vw;
    color: black;
    
    
}
.page2 #he{
    font-size: 7vw;
    font-weight: 400;
    color: black;
}
.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid black;
   
}
.page2-left{
    width: 400px;
    color: black;
}
.page2-left h1{
    font-size: 4vw;
    font-weight: 300;
    color: black;

}
.page2-right{
    width: 400px;
    
}
.page2-right p {
    font-size: 2vw;
    color: black;
}
.page2-right button {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: rgb(185, 165, 204);
    color: black;
}